@import url(variables.css);

body{
    width: 1440px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
/*------------------------HEADER---------------------------*/
header{
    margin-top: 31px;
    width: 1440px;
    height: 141px;
}
.Header__Area {
    /* background: red; */
    height: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.div_AQUA {
    width: 204px;
    height: 96px;
    background: var(--color-3);
    display: flex;
    align-items: center;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    justify-content: center;
    overflow: hidden;
}
.div_AQUA h1{
    font-size: 48px;
    font-family: "RobotoCondensed-Regular";
    color: var(--color-11);   
}
.div_AQUA img{
    width: 46px;
    height: 46px;
}
.div_buttonsMiddle {
    width: 732px;
    white-space: nowrap; /* Evita saltos de línea */
    display: flex;
    align-items: flex-end;
    gap: 70px;
}
.div_buttonsMiddle a{
    text-decoration: none;
    font-family: "RobotoCondensed-Bold";
    font-size: 24px;
    color: var(--color-2);
}
.div_buttonsLeft {
    margin-right: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 31.67px;
}
.div_buttonsLeft img{
    width: 35px;
    height: 35px;
}


/*-------------------------MAIN--------------------------*/
main{

}
.sectionOne__WhiteHome {
    margin-top: 53px;
    
}
.div__sectionOneWhiteHome {
    display: grid;
    grid-template-columns: 800px 500px 140px;
    grid-template-rows: 589px;
    grid-template-areas: "container__Craetexts container__buyAndImages container__redes";
}
.container__Craetexts {
    grid-area: container__Craetexts;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.container__Craetexts img{
    width: 707px;
}
.container__Craetexts h2{
    font-family: "RobotoCondensed-Regular";
    font-size: 56.4px;
    color: var(--color-3);
    margin-top: 28px;
}
.container__Craetexts p{
    width: 685px;
    font-family: "RobotoCondensed-Regular";
    font-size: 26px;
    color: var(--color-3);
    margin-top: -40px;
    margin-right: 10px;
}
.container__buyAndImages {
    grid-area: container__buyAndImages;
    /* background: rebeccapurple; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__buyAndImages img{
    
}
.iconBuy {
    width: 36px;
    height: 36px;
}
.container__buyAndImages a{
    width: 237px;
    height: 54px;
    font-family: "RobotoCondensed-Bold";
    font-size: 40px;
    color: var(--color-4);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 100px;
    background-color: var(--color-2);
    margin-top: -20px;

}
.container__redes {
    grid-area: container__redes;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: end;
    margin-bottom: 50px;
}
.container__redes img{

}
.iconInstagram {
    width: 60px;
    height: 60px;
}
.iconFacebook {
    width: 59px;
    height: 59px;
}
.iconK {
    width: 59px;
    height: 64px; 
}

/*-------------------------HOW TO PLAY?----------------------------*/

.sectionTwo__WhiteHome {
}
.container__sectionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container__howToPlay {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__howToPlay h2{
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-3);
}
.container__howToPlay p{
    width: 654px;
    font-family: "RobotoCondensed-Regular";
    font-size: 36px;
    color: var(--color-3);
    text-align: center;
    margin-top: -10px;

}
.container__instruction1 {
    margin-top: 41px;
    height: 187px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__instruction1 h2 
{
    width: 100px;
    height: 100px;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__instruction1 p
{
    width: 752px;
    height: 187px;
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 36px;
    color: var(--color-2);

}
.container__instruction1 img{
    width: 162px;
    height: 162px;
    margin-left: 20px;
}
.container__instruction2 {
    margin-top: 83px;
    height: 143px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__instruction2 h2 {
    width: 100px;
    height: 100px;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__instruction2 p {
    width: 752px;
    height: 143px;
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 36px;
    color: var(--color-2);
}
.container__instruction2 img{
    width: 141px;
    height: 141px;
    margin-left: 40px;
}
.container__instruction3 {
    margin-top: 64px;
    height: 178px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__instruction3 h2 {
    width: 100px;
    height: 100px;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__instruction3 p {
    width: 752px;
    height: 187px;
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 36px;
    color: var(--color-2);
}
.container__instruction3 img{
    width: 161px;
    height: 161px;
    margin-left: 20px;
}
.container__instruction4 {
    /* background: red; */
    margin-top: 43px;
    height: 234px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__instruction4 h2 {
    width: 100px;
    height: 100px;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__instruction4 p {
    width: 752px;
    height: 214px;
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 36px;
    color: var(--color-2);
}
.container__instruction4 img{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.container__instruction5 {
    /* background: blue; */
    margin-top: 60px;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__instruction5 h2 {
    width: 100px;
    height: 100px;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__instruction5 p {
    width: 752px;
    height: 100px;
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 36px;
    color: var(--color-2);
}
.container__instruction5 img{
    width: 135px;
    height: 124px;
    margin-left: 50px;
}

/* --------------------------------support us--------------------------*/

.sectionThree__WhiteHome {
    margin-top: 200px;
}
.container__sectionThree {
    display: grid;
    grid-template-columns: 751px 400px;
    grid-template-rows: 470px;
    gap: 40px;
    justify-content: center;
}
.container__supportUs {

}
.container__supportUs h2{
    font-family: "RobotoCondensed-Bold";
    font-size: 72px;
    color: var(--color-2);
}
.container__supportUs p{
    font-family: "RobotoCondensed-Regular";
    font-size: 36px;
    line-height: 44px;
    color: var(--color-2);
}
.container__supportUs__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background: red; */
}
.container__supportUs__button img{
    height: 305px;
    width: 375px;
}
.button__giveUs {
    width: 282px;
    height: 57px;
    font-family: "RobotoCondensed-Bold";
    font-size: 36px;
    color: var(--color-4);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: var(--color-2);
    margin-top: 43px;

}


/*------------------------------About Us------------------------*/
.sectionFour__WhiteHome {
    margin-top: 100px;
}
.container__sectionFour {
    display: grid;
    grid-template-columns: 793px 400px;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas: "container__aboutUs containerimg_peopleblind ";
    justify-content: center;
    align-items: center;
}
.container__aboutUs {
}
.container__aboutUs h2{
    font-family: "RobotoCondensed-Bold";
    font-size: 72px;
    color: var(--color-2);
}
.container__aboutUs p{
    font-family: "RobotoCondensed-Regular";
    font-size: 36px;
    line-height: 40px;
    color: var(--color-2);
}
.main__imagesBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerimg_peopleblind {
    display: flex;
    flex-direction: row;
}
.img__blindrighr {
    width: 200px;
    height: 235px;

}
.img__peopleblind{
    width: 200px;
    height: 235px;
    margin-left: -100px;
}
.containerimg_peopleblind img{
}
.containerimg_AQUA {
    height: 89px;
    display: flex;
}
.containerimg_AQUA h2{
    font-family: "RobotoCondensed-Regular";
    font-size: 96px;
    color: var(--color-2);
    margin-top: -10px;
    margin-left: 30px;
}
.containerimg_AQUA img{
    width: 82px;
    height: 80px;
}
/*-----------------------------Footer----------------------------*/
footer {
    background-color: var(--color-2);
    margin-top: 200px;

}

.footer__container {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

}
.footer__container h4{
    font-family: "RobotoCondensed-Regular";
    font-size: 24px;
    color: var(--color-4);
}
.footer__container a{
    font-family: "RobotoCondensed-Regular";
    font-size: 24px;
    color: var(--color-8);
    text-decoration: none;

}
/*--------------------Mobile Area------------------*/
@media (max-width: 428px){

/*------------------------HEADER---------------------------*/
header{
    margin-top: 31px;
    width: 428px;
    height: 30px;
}
.Header__Area {
    /* background: red; */
    height: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px;
}
.div_AQUA {
    width: 84px;
    height: 45px;
    background: var(--color-3);
    display: flex;
    align-items: center;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    justify-content: center;
    overflow: hidden;
}
.div_AQUA h1{
    font-size: 20px; 
}
.div_AQUA img{
    width: 26px;
    height: 26px;
}
.div_buttonsMiddle {
    width: 232px;
    white-space: nowrap; /* Evita saltos de línea */
    display: flex;
    align-items: center;
    gap: 15px;
}
.div_buttonsMiddle a{
    text-decoration: none;
    font-family: "RobotoCondensed-Bold";
    font-size: 10px;
    color: var(--color-2);
}
.div_buttonsLeft {
    margin-right: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 11.67px;
}
.div_buttonsLeft img{
    width: 15px;
    height: 15px;
}

/*-------------------------MAIN--------------------------*/
main{

}
.sectionOne__WhiteHome {

}
.div__sectionOneWhiteHome {
    display: grid;
    grid-template-columns: 240px 150px 40px;
    grid-template-rows: 189px;
    grid-template-areas: "container__Craetexts container__buyAndImages container__redes";
}
.container__Craetexts {
    transform: scale(0.3);
    grid-area: container__Craetexts;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__Craetexts img{
    width: 707px;
}
.container__Craetexts h2{
    font-size: 56.4px;
    white-space: nowrap; /* Evita saltos de línea */

}
.container__Craetexts p{
    width: 685px;
    font-family: "RobotoCondensed-Regular";
    font-size: 29px;
    color: var(--color-3);
    margin-top: -40px;
    margin-right: 10px;
}
.container__buyAndImages {
    transform: scale(0.3);
    grid-area: container__buyAndImages;
    /* background: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container__buyAndImages img{
    
}
.iconBuy {
    width: 36px;
    height: 36px;
}
.container__buyAndImages a{
    transform: scale(1.3);
    width: 237px;
    height: 54px;
    font-family: "RobotoCondensed-Bold";
    font-size: 40px;
    color: var(--color-4);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 100px;
    background-color: var(--color-2);
    margin-top: -20px;

}
.container__redes {
    transform: scale(0.3);
    grid-area: container__redes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;



}
.container__redes img{

}
.iconInstagram {
    width: 60px;
    height: 60px;
}
.iconFacebook {
    width: 59px;
    height: 59px;
}
.iconK {
    width: 59px;
    height: 64px; 
}

/*-------------------------HOW TO PLAY?----------------------------*/

.sectionTwo__WhiteHome {
    transform: scale(0.32);
    width: 390px;
    display: flex;
    flex-direction: column;
    margin-top: -520px;
    
    
}



.container__howToPlay p{
    width: 654px;
    font-family: "RobotoCondensed-Regular";
    font-size: 46px;
    color: var(--color-3);
    text-align: center;
    margin-top: -10px;
}
.container__instruction1 {
    margin-top: 41px;
    height: 187px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__instruction1 h2 
{
    width: 100px;
    height: 100px;
    font-family: "RobotoCondensed-Bold";
    font-size: 74px;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__instruction1 p
{
    width: 752px;
    height: 187px;
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 36px;
    color: var(--color-2);

}
.container__instruction1 img{
    width: 162px;
    height: 162px;
    margin-left: 20px;
}
.container__instruction2 {
    margin-top: 83px;
    height: 143px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__instruction2 h2 {
    width: 100px;
    height: 100px;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__instruction2 p {
    width: 752px;
    height: 143px;
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 36px;
    color: var(--color-2);
}
.container__instruction2 img{
    width: 141px;
    height: 141px;
    margin-left: 40px;
}
.container__instruction3 {
    margin-top: 64px;
    height: 178px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__instruction3 h2 {
    width: 100px;
    height: 100px;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__instruction3 p {
    width: 752px;
    height: 187px;
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 36px;
    color: var(--color-2);
}
.container__instruction3 img{
    width: 161px;
    height: 161px;
    margin-left: 20px;
}
.container__instruction4 {
    /* background: red; */
    margin-top: 43px;
    height: 234px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__instruction4 h2 {
    width: 100px;
    height: 100px;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__instruction4 p {
    width: 752px;
    height: 214px;
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 36px;
    color: var(--color-2);
}
.container__instruction4 img{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.container__instruction5 {
    /* background: blue; */
    margin-top: 60px;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__instruction5 h2 {
    width: 100px;
    height: 100px;
    font-family: "RobotoCondensed-Bold";
    font-size: 64px;
    color: var(--color-4);
    background: var(--color-2);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__instruction5 p {
    width: 752px;
    height: 100px;
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 36px;
    color: var(--color-2);
}
.container__instruction5 img{
    width: 135px;
    height: 124px;
    margin-left: 50px;
}

/* --------------------------------support us--------------------------*/

.sectionThree__WhiteHome {
    margin-top: -500px;
    display: flex;
}
.container__sectionThree {
    display: grid;
    grid-template-columns: 251px 100px;
    grid-template-rows: 270px;
    gap: 20px;
    justify-content: center;
}
.container__supportUs {
    transform: scale(0.5);

}
.container__supportUs h2{
    font-family: "RobotoCondensed-Bold";
    font-size: 72px;
    color: var(--color-2);
}
.container__supportUs p{
    transform: scale(1);
    
}
.container__supportUs__button {
    transform: scale(0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background: red; */
}
.container__supportUs__button img{
    height: 305px;
    width: 375px;
}
.button__giveUs {
    width: 282px;
    height: 57px;
    font-family: "RobotoCondensed-Bold";
    font-size: 36px;
    color: var(--color-4);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: var(--color-2);
    margin-top: 43px;

}







}