@import url(variables.css);

body{
    width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}
/*------------------------HEADER---------------------------*/
header{
    margin-top: 31px;
    width: 1440px;
    height: 141px;
}
.Header__Area {
    /* background: red; */
    height: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.div_AQUA {
    width: 204px;
    height: 96px;
    background: var(--color-3);
    display: flex;
    align-items: center;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    justify-content: center;
    overflow: hidden;
}
.div_AQUA h1{
    font-size: 48px;
    font-family: "RobotoCondensed-Regular";
    color: var(--color-11);   
}
.div_AQUA img{
    width: 46px;
    height: 46px;
}
.div_buttonsMiddle {
    width: 732px;
    white-space: nowrap; /* Evita saltos de línea */
    display: flex;
    align-items: flex-end;
    gap: 70px;
}
.div_buttonsMiddle a{
    text-decoration: none;
    font-family: "RobotoCondensed-Bold";
    font-size: 24px;
    color: var(--color-2);
}
.div_buttonsLeft {
    margin-right: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 31.67px;
}
.div_buttonsLeft img{
    width: 35px;
    height: 35px;
}


/*-------------------------MAIN--------------------------*/
main{

}
.sectionOne__WhiteHome {
    margin-top: 53px;
    
}
.div__sectionOneWhiteHome {
    display: grid;
    grid-template-columns: 800px 500px 140px;
    grid-template-rows: 589px;
    grid-template-areas: "container__Craetexts container__buyAndImages container__redes";
}
.container__Craetexts {
    grid-area: container__Craetexts;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.container__Craetexts img{
    width: 707px;
}
.container__Craetexts h2{
    font-family: "RobotoCondensed-Regular";
    font-size: 56.4px;
    color: var(--color-3);
    margin-top: 28px;
}
.container__Craetexts p{
    width: 685px;
    font-family: "RobotoCondensed-Regular";
    font-size: 26px;
    color: var(--color-3);
    margin-top: -40px;
    margin-right: 10px;
}
.container__buyAndImages {
    grid-area: container__buyAndImages;
    background: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__buyAndImages img{
    
}
.iconBuy {
    width: 36px;
    height: 36px;
}
.container__buyAndImages a{
    width: 237px;
    height: 54px;
    font-family: "RobotoCondensed-Bold";
    font-size: 40px;
    color: var(--color-4);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 100px;
    background-color: var(--color-2);
    margin-top: -20px;

}
.container__redes {
    grid-area: container__redes;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: end;
    margin-bottom: 50px;
}
.container__redes img{

}
.iconInstagram {
    width: 60px;
    height: 60px;
}
.iconFacebook {
    width: 59px;
    height: 59px;
}
.iconK {
    width: 59px;
    height: 64px; 
}